/*.box_animate {
    display: block;
    width: calc(100% - 25px);
    height: calc(100% - 25px);
    position: absolute;
    margin: 10px;
    border: 1px solid;
    overflow: hidden;
}*/
/*.box {
    position: absolute;
    width: 20vh;
    height: 20vh;
    margin: 0 auto;
    top: 40%;
    right: 40%;
}
.animation {
    position: relative;
    animation-name: move;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    z-index: 1;
}
@keyframes move {
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(180deg);
    }
}*/
.box_animate {
    position: absolute;
    width: 90vh;
    height: 90vh;
    margin: 0 auto;
    border: 1px solid;
}
.box {
    position: absolute;
    width: 20vh;
    height: 20vh;
    margin: 0 auto;
    top: 40%;
    right: 40%;
}
.animation {
    animation-name: rotate;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 2;
}
@keyframes rotate {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}
.front {
    position: inherit;
    width: 10vh;
    height: 10vh;
    margin: 0 auto;
    background: blue;
    top: 30%;
    left: 25%;
}
.front:before {
    content: 'Front';
    background: blue;
    transform: translateZ(50px);
}
.moveFront {
    animation-name: moveFront;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 1;
}
@keyframes moveFront {
    from {
        transform: rotateZ(0deg);
        z-index: 1;
    }
    to {
        transform: rotateZ(360deg);
        z-index: 3;
    }
}
.back {
    position: inherit;
    width: 10vh;
    height: 10vh;
    margin: 0 auto;
    background: red;
    top: 30%;
    left: 25%;;
}
.back:before {
    content: 'Back';
    background: red;
    transform: translateZ(-50px);
}
.moveBack {
    animation-name: moveBack;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 3;
}
@keyframes moveBack {
    from {
        transform: rotateZ(0deg);
        z-index: 3;
    }
    to {
        transform: rotateZ(-360deg);
        z-index: 1;
    }
}

